%table
  %thead
    %tr
      %th Tip
      %th Količina
      %th Seštevek
      %th
        Seštevek po
        %a{ href: 'http://www.simobil.si/sl/inside.cp2?cid=6670AB92-3588-75E4-ED94-765A39879B51' } obračunskih intervalih
      %th Cena
  %tbody
    - @bill.filtered.each do |f|
      %tr
        %td= f.name
        %td= f.count
        %td
          - if f.type == :data
            = f.transfers_size.pretty
          - elsif f.type == :phone
            = f.duration
        %td
          - if f.type == :data
            = f.billable_transfers_size.pretty
          - elsif f.type == :phone
            = f.billable_duration
        %td
          = f.cost
          €

%table
  %thead
    %tr
      %th Datum
      %th Opis
      %th Številka
      %th Operater
      %th Trajanje
      %th Cena
    %tbody
      - @bill.records.each do |r|
        %tr
          %td= r.date.strftime('%-d.%-m %H:%M')
          %td= r.description
          %td= r.number
          %td= r.provider
          %td= r.duration
          %td
            = r.cost
            €
