%table
  %thead
    %tr
      %th Tip
      %th To훾na koli훾ina
      %th Obra훾unana koli훾ina
      %th Kvantiteta
      %th Cena
  %tbody
    - @bill.types.each do |type|
      %tr
        %td= type
        %td= @bill.exact(type)
        %td= @bill.billable(type)
        %td= @bill.filter(type).size
        %td= @bill.cost(type)
